<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Go upload</title>
</head>

<body>
<form action="/settings" method="POST" enctype="multipart/form-data">
<table width="50%" border="1" align="center">
  <tr>
    <td colspan="2" align="center"><h1>Welcome To Staff Deduction Recovery Portal </h1></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><h4>Pls Choose The Excel File. (Only Xlsl Format Is Allowed)</h4></td>
  </tr>
  <tr>
    <td colspan="2" align="center"> <label for="file">Filename:</label> &nbsp;&nbsp; <input type="file" name="file" id="file">   </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input type="submit" name="submit" value="Submit"></td>
  </tr>
</table>
</form>
</body>
</html>
